#wheel-container .pointer {
    position:absolute;
    font-size:18px;
    font-weight: bold;
    top:46%;
    left:98%;
}

#rsvp-items img
{
    width:85px
}

#rsvp-items th
{
    width:25%;
    height:300px;
    vertical-align: middle;
}

#rsvp-items td
{
    vertical-align: middle;
    font-size:22px
}

#winner-label
{
    font-size: 6em;
    color:darkred;
    text-shadow: 4px 4px 2px #ffff00;
    -webkit-transform: rotate(328deg);
    -moz-transform: rotate(328deg);
    -o-transform: rotate(328deg);
    writing-mode: lr-tb;
    float: right;
    margin-top: -100px
}
