{% extends "_layout.html" %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="/css/wheel.css" >
{% endblock %}
{% block body_js %}
<script type="application/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script type="application/javascript" src="/js/wheel.js"></script>
<script type="application/javascript" src="/js/meetup-wheel.js"></script>
{% endblock %}

{% block content %}
<h1 class="cover-heading">KC Pug Prize Wheel</h1>
<div class="row">
<div class="col-md-10 col-md-offset-1">
    <div class="row-fluid hidden" id="control-container">
        <div class="col-sm-8 col-sm-offset-1">
            <select id="event-id" class="form-control"></select>
        </div>
        <div class="col-sm-2">
            <button id='spin-button' class="btn btn-primary" disabled="disabled">Spin!</button>
        </div>
    </div>
    <div class="spinner hidden"><img src="/img/ajax-loader.gif" /></div>
</div>
</div>

<div class="row">
    <div id="wheel-container" class="col-xs-6">
        <!-- the div container is of course optional. It is used with
             {width,height}="100%" below to make the chart resizable. -->
        <svg width="100%" height="100%" id="wheel"
             xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 400">
        </svg>
        <div id="wheel-pointer" class="pointer">&lt;</div>

    </div>
    <div class="col-md-6">
        <ul style="display:none" id="segments"></ul>
        <table id="rsvp-items">

        </table>
        <div id="winner-label">Winner!</div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <dl class="dl-horizontal" style="text-align: left">
            <dt>Spin Power</dt>
            <dd id="power"></dd>
            <dt>Random push</dt>
            <dd id="push"></dd>
            <dt>Current Angle</dt>
            <dd id="angle"></dd>
            <dt>Wheel Angle</dt>
            <dd id="angle-remainder"></dd>
            <dt>Current Position</dt>
            <dd id="currentpos"></dd>
            <dt id="winnerlabel"></dt>
            <dd id="winner"></dd>
        </dl>
    </div>
</div>

{% endblock %}